.form-dropdown {
  display: flex;
  gap: 8px;
}
.form-dropdown form {
  width: 100%;
  margin: 0 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #b9b8b8;
}
.form-dropdown form .wrapper {
  position: relative;
}
.form-dropdown form .wrapper .icon {
  height: 18px;
  width: 18px;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.form-dropdown form input {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 8px 0;
  border-bottom: 1px solid rgba(185, 184, 184, 0.62);
  outline: none;
  font-size: 14px;
}
.form-dropdown form input::-webkit-input-placeholder {
  color: rgba(185, 184, 184, 0.62);
}
.form-dropdown form input::placeholder {
  color: rgba(185, 184, 184, 0.62);
}

.search-history {
  margin-top: 8px;
  color: #b9b8b8;
  height: 110px;
  position: relative;
}
.search-history .history-item,
.search-history .no-history {
  padding: 5px 0;
}
.search-history .no-history {
  margin-top: 15px;
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}
.search-history .history-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.search-history .history-item p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
.search-history .history-item .icon {
  cursor: pointer;
}

hr {
  margin-top: 50px;
  border-top: 1px solid rgba(185, 184, 184, 0.62);
}

.country-dpdwn {
  width: 40%;
  color: rgba(185, 184, 184, 0.62);
  font-size: 14px;
  text-align: center;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(185, 184, 184, 0.62);
}